{% extends "base.html.twig" %}

{% block body %}
    <table>
    {% for supplier in viewModel.suppliers %}
        <tr>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.url }}</td>
        </tr>
    {% else %}
        <tr>
            <td>{{ "No game"|trans }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}
