{% extends "base.html.twig" %}

{% block body %}
    <table>
        {% for videoGame in viewModel.games %}
            <tr>
                <td>{{ videoGame.name }}</td>
                <td>{{ videoGame.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ "No game"|trans }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
